<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.demo.mapper.UserMapper">

    <select id="selectByCellphone" resultType="com.app.demo.entity.User">
        select *
        from user
        where cellphone = #{cellphone}
    </select>
</mapper>
